<div class="row">
    <div class="small-3 columns"> <h2>Log in</h2></div>
  </div>



<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="small-5 columns"><%= f.email_field :email, autofocus: true %></div>
    <div class="small-5 columns"></div>
  </div>

  <div class="row">
    <div class="small-5 columns"><%= f.password_field :password, autocomplete: "off" %></div>
    <div class="small-5 columns"></div>
  </div>

  <div class="row">
    <% if devise_mapping.rememberable? -%>
    <div class="small-5 columns"><%= f.check_box :remember_me %></div>
    <div class="small-5 columns"></div>
    <% end -%>
  </div>

  <div class="row">
    <div class="actions">
      <div class="small-5 columns"><%= f.submit "Log in" %></div>
    </div>
  </div>

  </div>

 
<% end %>

  <div class="row">
    <div class="small-5 columns"><%= render "devise/shared/links" %></div>
  </div>

